h1 {
    font-size:64px !important;
    text-align:center;
    font-family: 'Kaushan Script' !important;
}

h2 {
    font-size:56px !important;
    font-family: 'Kaushan Script' !important;
}

h3 {
    font-size:48px !important;
    font-family: 'Kaushan Script' !important;
}

h4 {
    font-size:40px !important;
}

h5 {
    font-size:32px !important;
    font-family: 'Kaushan Script' !important;
}

h6 {
    font-size:24px !important;
}

p {
    font-size:16px !important;
}

.o_brand_promotion {
    display:none;
}

header .navbar-brand.logo img {
    height:10rem !important;
    position:absolute;
    z-index:1
}

.quote_avatar {
    border-radius: 50%;
    width:50px;
    height:50px;
}

@media (max-width: 768px){
    h1 {
        font-size:40px !important;
        text-align:center;
    }

    h2 {
        font-size:36px !important;
    }
    
    h3 {
        font-size:32px !important;
    }
    
    h4 {
        font-size:28px !important;
    }
    
    h5 {
        font-size:24px !important;
    }
    
    h6 {
        font-size:20px !important;
    }
    
    p {
        font-size:16px !important;
    }
    
    header .navbar-brand.logo img {
        height:7rem !important;
    }
}

@media (max-width: 400px){
    h1 {
        font-size:38px !important;
        text-align:center;
    }

    h2 {
        font-size:34px !important;
    }
    
    h3 {
        font-size:30px !important;
    }
    
    h4 {
        font-size:26px !important;
    }
    
    h5 {
        font-size:22px !important;
    }
    
    h6 {
        font-size:20px !important;
    }
    
    p {
        font-size:16px !important;
    }
    
    header .navbar-brand.logo img {
        height:7rem !important;
    }
}

.navbar {
    min-height:80px;
}

.card {
    border: none !important;
}

.nav-item {
	font-size: 20px;
	font-family: 'Kaushan Script' !important;
	color: #603700 !important;
}

@media (min-width: 768px){
    .navbar-nav .nav-link.active {
    	color: #603700 !important;
    	border-radius: 25px;
    	border: 2px solid #603700;
    }
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #603700 !important;
}


.navbar ul.nav > li.divider{
    border-color: #603700 !important;
}
